.fontthai{
   font-family: 'Prompt', sans-serif;
}


.bd-placeholder-img {
     font-size: 1.125rem;
     text-anchor: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
        }
     @media (min-width: 768px) {
        .bd-placeholder-img-lg {
         font-size: 3.5rem;
            }
        }

        
div.polaroid {
         width: 80%;
         background-color: white;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         margin-bottom: 25px;
       }


.image {
         display: block;
         width: 100%;
         height: auto;
       }
       
.overlay {
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
         opacity: 0;
         transition: .5s ease;
         background-color: #008CBA;
       }

       .overlay-starwar {
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
         opacity: 0;
         transition: .5s ease;
         background-color: #abaf4f;
       }

.overlay-gray{
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
         opacity: 0;
         transition: .5s ease;
         background-color: #4d595d;
       }

.overlay-avenger{
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
         opacity: 0;
         transition: .5s ease;
         background-color: #51089f;
       }
.overlay-murder{
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
         opacity: 0;
         transition: .5s ease;
         background-color: #233384;
       }
.overlay-kni{
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
         opacity: 0;
         transition: .5s ease;
         background-color: #9c9f0f;
       }
       
       



.containermovie:hover .overlay-kni{
         opacity: 1;
       }

.containermovie:hover .overlay-murder{
         opacity: 1;
       }
.containermovie:hover .overlay-starwar  {
         opacity: 1;
       }
.containermovie:hover .overlay-gray {
         opacity: 1;
       }
.containermovie:hover .overlay {
         opacity: 1;
       }
.containermovie:hover .overlay-avenger{
         opacity: 1;
       }
       
.text {
         color: white;
         font-size: 20px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
       }
.containermovie {
         position: relative;
         ;
       }
.imgmovie{
   width: 356;
   height: 512;
}


.picture-fb{
   position: relative;
   height:100px;
   width: 100px;
   background-image: url('img/contact/hover/fb.png');
   background-repeat:no-repeat;
}

.picture-fb:hover {
   transition: 0.1s;
   background-image: url('img/contact/fb.png');
}

.picture-ig{
   position: relative;
   height:100px;
   width: 100px;
   background-image: url('img/contact/hover/ig.png');
   background-repeat:no-repeat;
}

.picture-ig:hover {
   transition: 0.1s;
   background-image: url('img/contact/ig.png');
}

.picture-twitter{
   position: relative;
   height:100px;
   width: 100px;
   background-image: url('img/contact/hover/twitter.jpg');
   background-repeat:no-repeat;
}

.picture-twitter:hover {
   transition: 0.1s;
   background-image: url('img/contact/twitter.png');
}

.button {
   background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
 }

 a{
    color: white;
 }

 .zoom {
   
  padding: 20px;
   transition: transform .2s; 
   
   
 }
 
 .zoom:hover {
    
   transform: scale(1.5); 
 }

.logoedu{
   height :160px;
   width : 160px;

 }